.narration-overlay {
    position: fixed;
    padding: 0.5em 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    font-size: 1.25em;
    color: black;
    background-color: #acacaccc;
    z-index: 999;
}
