@import "~react-image-gallery/styles/css/image-gallery.css";

.sos-gallery-container {
}

/*
.image-gallery-slide img {
  width: auto;
  height: 400px;
}

.image-gallery-thumbnail img {
  width: auto;
  height: 80px;
}
*/
