@import "~react-image-gallery/styles/css/image-gallery.css";

.sos-back-to-lobby-button {
  position: absolute;
  left: 2em;
  top: 2em;
  z-index: 10;
}

.sos-gallery-container {
  padding: 5vh 10vw;
}

.image-gallery-content .image-gallery-slide {
  height: 75vh;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 75vh;
  max-width: 90%;
  width: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  max-height: 10vh;
  max-width: 90%;
  width: auto;
}
